*,
*::after,
*::before {
  box-sizing: border-box;
}


body {
  
  background-color: #94B49F;

}


/* header */

.piano {
  --tamaño-teclas: calc(100% / 12);
  padding: 0;

  display: block;
  display: flex;
  margin-top: 0;
  list-style: none;
  max-width: 800px;
  width: 100%;
  position: relative;
}

.teclas-blancas {
  width: var(--tamaño-teclas);
  height: 230px;
  border-radius: 0 0 6px 6px;

  background-color: #fff;
  border: 3px solid black;
  margin-left: -4px;
  cursor: pointer;
}

.teclas-blancas:hover {
  background-color:beige;

}


.titulo {
  display: flex;
  justify-content: center;
}


.teclas-negras {
  width: calc(var(--tamaño-teclas) / 2);
  position: absolute;
  /* width: 30px; */
  height: 155px;
  border: 3px solid black;
  border-radius: 0 0 4px 4px;
  background-color: black;
  outline: none;
  cursor: pointer;
}

.teclas-negras:hover {
  background-color: #bbb;
}


.Db3 {
  left: calc(var(--tamaño-teclas) / 2);
}

.Eb3 {
  left: calc(var(--tamaño-teclas) * 1.3);
}

.Gb3 {
  left: calc(var(--tamaño-teclas) * 2.9);
}

.Ab3 {
  left: calc(var(--tamaño-teclas) * 3.7);
}

.Bb3 {
  left: calc(var(--tamaño-teclas) * 4.5);
}

.Db4 {
  left: calc(var(--tamaño-teclas) * 6.1);
}

.Eb4 {
  left: calc(var(--tamaño-teclas) * 6.9);
}

.Gb4 {
  left: calc(var(--tamaño-teclas) * 8.5);
}

.Ab4 {
  left: calc(var(--tamaño-teclas) * 9.3);
}

.Bb4 {
  left: calc(var(--tamaño-teclas) * 10.1);
}

.titulo {
  font-size: 2rem;
  justify-content: center;
  align-items: center;
}

/* main */


.container {
  display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: repeat(10, 100%);

}


.img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

p {
  color: #000000;
}
/* cuerdas */
.bajo {
  background-image: url(img-sinfonicos/bajo.jpg);
  grid-column: 1/2;
  grid-row: 1/4;
}

.violin {
  background-image: url(img-sinfonicos/violin.jpg);
  grid-column: 2/4;
  grid-row: 1/2;
}

.cello {
  background-image: url(img-sinfonicos/cello.jpg);
  grid-column: 4/5;
  grid-row: 1/2;
}

.viola {
  background-image: url(img-sinfonicos/viola.jpg);
  grid-column: 3/5;
  grid-row: 2/3;
}

/* maderas */
.flauta {
  background-image: url(img-sinfonicos/flauta.jpg);
  grid-column: 4/5;
  grid-row: 4/5; 
}

.piccolo {
  background-image: url(img-sinfonicos/piccolo.jpg);
  grid-column: 1/2;
  grid-row: 4/5;
}

.clarinete {
  background-image: url(img-sinfonicos/clarinete.jpg);
  grid-column: 2/4;
  grid-row: 4/5;
}

.oboe {
  background-image: url(img-sinfonicos/oboe.jpg);
  grid-column: 2/3;
  grid-row: 2/3;
}

.fagot {
  background-image: url(img-sinfonicos/fagot.png);
  grid-column: 2/5;
  grid-row: 3/4;
}

/* metales */
.corno {
  background-image: url(img-sinfonicos/corno.jpg);
  grid-column: 1/3;
  grid-row: 5/6;
}

.trompetas {
  background-image: url(img-sinfonicos/trompetas.png);
  grid-column: 1/4;
  grid-row: 6/7;
}

.trombones {
  background-image: url(img-sinfonicos/trombones.jpg);
  grid-column: 4/5;
  grid-row: 5/7;
}

.tuba {
  background-image: url(img-sinfonicos/tuba.jpeg);
  grid-column: 3/4;
  grid-row: 5/6;
}

/* percusión */

.timbales {
  background-image: url(img-sinfonicos/timbal.jpg);
  grid-column: 3/5;
  grid-row: 7/8;
}

.platillos {
  background-image: url(img-sinfonicos/platillos.jpg);
  grid-column: 2/3;
  grid-row: 7/8;
 
}

.tambor {
  background-image: url(img-sinfonicos/tambor.jpeg);
  grid-column: 1/2;
  grid-row: 7/8;
  background-color: #fff;
  
}

.marimba {
  background-image: url(img-sinfonicos/marim.jpg);
  grid-column: 1/5;
  grid-row: 8/10;
  background-color: #FFC3A1;
 
}


/* footer */

.footer-boton {
  border: 2px solid;
  border-radius: 10px;
  text-decoration: none;
  padding: 10px;
  background: #000000;
  color: #fff;
  font-size: 1.5rem;
  transition: all .3s;
  opacity: 0.9;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin: 10% 30% 10%;
}


.footer-boton:hover {
  color: #000000;
  background: #fff;
}




















 